/*
 * Azure VM mappings for low sample count (< 500 target samples)
 * These processes scale primarily with sample count
 */

process {
    // BCFTOOLS_PLUGINSPLIT: 32 GB on HPC
    withName: '.*BCFTOOLS_PLUGINSPLIT.*' { machineType = 'Standard_D8ds_v4'  }   // 32 GB

    // PLINK_VCF: 32 GB on HPC
    withName: '.*PLINK_VCF.*'            { machineType = 'Standard_D8ds_v4'  }   // 32 GB

    // CONFORMGT: 8 GB on HPC
    withName: '.*CONFORMGT.*'            { machineType = 'Standard_D2ds_v4'  }   // 8 GB
}
