/*
 * Azure VM mappings for Pig (Sus scrofa)
 * Genome: ~2.5 Gb, Reference panel: ~65M variants
 * Largest genome/panel - requires more resources
 */

process {
    // VCFLIB_VCFFIXUP: 64 GB on HPC
    withName: '.*VCFLIB_VCFFIXUP.*'      { machineType = 'Standard_D16ds_v4' }   // 64 GB

    // BCFTOOLS_NORM: 32 GB on HPC
    withName: '.*BCFTOOLS_NORM.*'        { machineType = 'Standard_D8ds_v4'  }   // 32 GB

    // BCFTOOLS_CONCAT: 32 GB on HPC
    withName: '.*BCFTOOLS_CONCAT.*'      { machineType = 'Standard_D8ds_v4'  }   // 32 GB

    // BEAGLE5_BEAGLE: 64 GB on HPC
    withName: '.*BEAGLE5_BEAGLE.*'       { machineType = 'Standard_D16ds_v4' }   // 64 GB

    // BCFTOOLS_INDEX: 16 GB on HPC
    withName: '.*BCFTOOLS_INDEX.*'       { machineType = 'Standard_D4ds_v4'  }   // 16 GB

    // BCFTOOLS_VIEW: 16 GB on HPC
    withName: '.*BCFTOOLS_VIEW.*'        { machineType = 'Standard_D4ds_v4'  }   // 16 GB

    // BCFTOOLS_ANNOTATE: 16 GB on HPC
    withName: '.*BCFTOOLS_ANNOTATE.*'    { machineType = 'Standard_D4ds_v4'  }   // 16 GB

    // SHAPEIT5_PHASECOMMON: 8 GB on HPC
    withName: '.*SHAPEIT5_PHASECOMMON.*' { machineType = 'Standard_D2ds_v4'  }   // 8 GB
}
