// Layer Chicken-specific parameters (Gallus gallus - egg type)
// Reference: GRCg7b
// Genome size: ~1.05 Gb, Karyotype: 2n=78 (38 autosomes + ZW)
// Chromosome structure: 5 macro (50-197 Mb), 5 intermediate (20-40 Mb), 28 micro (3.5-23 Mb)
params.chr_set = 38

process {
    withName: '.*BEAGLE5_BEAGLE' {
        ext.args = {
            [
                'gp=true',
                'ap=true',
                "chrom=${meta.chr}",
                'ne=50',
                'iterations=10',
                'imp-segment=10',
                'imp-nsteps=10'
            ].join(' ')
        }
    }
}

process {
    withName: '.*MINIMAC4_IMPUTE' {
        stageInMode = 'copy'
        ext.args = {
            [
                '--chunk 10000000',
                '--overlap 1000000',
                '--format GT,DS,GP',
                "--chr ${meta.chr}"
            ].join(' ')
        }
    }
}

process {
    withName: '.*PLINK_VCF.*' {
        ext.args = '--make-bed --allow-extra-chr --chr-set 38'
    }
}

process {
  withName: /.*BCFTOOLS_PLUGINSPLIT$/ {
    memory = '128 GB'
    cpus = 8
    time = '80h'
  }

  withName: /.*VCFLIB_VCFFIXUP$/ {
    memory = '128 GB'
    cpus = 8
    time = '24h'
  }

  withName: /.*GLIMPSE_CHUNK$/ {
    ext.args = "--window-size 1000000"
  }

  withName: /.*GLIMPSE2_CHUNK$/ {
    ext.args = "--window-mb 1"
  }
}
