// Pig-specific parameters
params.chr_set = 18

process {
    withName: '.*BEAGLE5_BEAGLE' {
        ext.args = {
            [
                'gp=true',
                'ap=true',
                "chrom=${meta.chr}",
                'ne=50',
                'iterations=10',
                'imp-segment=10',
                'imp-nsteps=10'
            ].join(' ')
        }
    }
}

process {
    withName: '.*MINIMAC4_IMPUTE' {
        stageInMode = 'copy'
        ext.args = {
            [
                '--chunk 50000000',
                '--overlap 5000000',
                '--format GT,DS,GP',
                "--chr ${meta.chr}"
            ].join(' ')
        }
    }
}

process {
  withName: /.*BCFTOOLS_PLUGINSPLIT$/ {
    memory = '128 GB'
    cpus = 8
    time = '80h'
  }

  withName: /.*VCFLIB_VCFFIXUP$/ {
    memory = '128 GB'
    cpus = 8
    time = '24h'
  }

  withName: /.*GLIMPSE_CHUNK$/ {
    ext.args = "--window-size 5000000"
  }

  withName: /.*GLIMPSE2_CHUNK$/ {
    ext.args = "--window-mb 5"
  }
}
