// Rainbow Trout-specific parameters (Oncorhynchus mykiss)
// Reference: USDA_OmykA_1.1 or Omyk_1.0
// Genome size: ~2.4 Gb, Karyotype: 2n=58-64 (variable, using 29 as standard)
// Note: Shares salmonid whole genome duplication with salmon
// Chromosome sizes: 35-150 Mb range, Average: ~80 Mb
params.chr_set = 29

process {
    withName: '.*BEAGLE5_BEAGLE' {
        ext.args = {
            [
                'gp=true',
                'ap=true',
                "chrom=${meta.chr}",
                'ne=100',
                'iterations=12',
                'imp-segment=10',
                'imp-nsteps=10'
            ].join(' ')
        }
    }
}

process {
    withName: '.*MINIMAC4_IMPUTE' {
        stageInMode = 'copy'
        ext.args = {
            [
                '--chunk 35000000',
                '--overlap 3500000',
                '--format GT,DS,GP',
                "--chr ${meta.chr}"
            ].join(' ')
        }
    }
}

process {
    withName: '.*PLINK_VCF.*' {
        ext.args = '--make-bed --allow-extra-chr --chr-set 29'
    }
}

process {
  withName: /.*BCFTOOLS_PLUGINSPLIT$/ {
    memory = '128 GB'
    cpus = 8
    time = '80h'
  }

  withName: /.*VCFLIB_VCFFIXUP$/ {
    memory = '128 GB'
    cpus = 8
    time = '24h'
  }

  withName: /.*GLIMPSE_CHUNK$/ {
    ext.args = "--window-size 4000000"
  }

  withName: /.*GLIMPSE2_CHUNK$/ {
    ext.args = "--window-mb 4"
  }
}
