/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sample scale: low (< 500 target samples)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Resource allocations for sample-count-dependent processes.
    Use with: --sample_scale low
----------------------------------------------------------------------------------------
*/

process {
    withName: /.*BCFTOOLS_PLUGINSPLIT$/ {
        memory = '32 GB'
        cpus = 4
        time = '24h'
    }

    withName: /.*PLINK_VCF.*/ {
        memory = '32 GB'
        cpus = 4
        time = '2h'
    }

    withName: 'CONFORMGT' {
        memory = '16 GB'
        cpus = 2
        time = '1h'
    }
}
