/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sample scale: medium (500-2000 target samples) - DEFAULT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Resource allocations for sample-count-dependent processes.
    Use with: --sample_scale medium (or omit, this is the default)
----------------------------------------------------------------------------------------
*/

process {
    withName: /.*BCFTOOLS_PLUGINSPLIT$/ {
        memory = '64 GB'
        cpus = 6
        time = '96h'  // 4 days - conservative
    }

    withName: /.*PLINK_VCF.*/ {
        memory = '48 GB'
        cpus = 6
        time = '6h'
    }

    withName: 'CONFORMGT' {
        memory = '12 GB'
        cpus = 4
        time = '1h'
    }
}
